.MuiBackdrop-root {
    &.elex-loader {
        z-index: 999;
        color: #111;
        background-color: rgba(0, 0, 0, .8);
        flex-direction: column;
    }
    
    .MuiBox-root {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 50px;
        background-color: white;
        border-radius: 2px;
    }

    .MuiTypography-root {
        &.elex-loader-label {
            animation: label-jumping 2s ease-in-out infinite alternate;
        }
    }
    @keyframes label-jumping {
        50% { transform: translateY(.5em); }
        to { transform: translateY(-.2em); }
    }
}