.MuiAppBar-root {
    &.elex-top-bar {
        background-color: white;
        color: #0071b8;

        @media (prefers-color-scheme: dark) {
           background-color: #333333;
           color: white;
          }

        .MuiToolbar-root {
            justify-content: space-between;
        }
    }
}