.spinner {
    
    #arrow0 { animation-name: top-arrow-rotation; }
    #arrow72 { animation-name: right-arrow-rotation; }
    #arrow144 { animation-name: b-right-arrow-rotation; }
    #arrow216 { animation-name: b-left-arrow-rotation; }
    #arrow288 { animation-name: left-arrow-rotation; }

    .arrow {
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        transform-origin: center; 
    }

    @keyframes top-arrow-rotation { to { transform: rotateZ(360deg); } }
    @keyframes right-arrow-rotation { 
        from { transform: rotateZ(72deg); }
        to { transform: rotateZ(432deg); } 
    }
    @keyframes b-right-arrow-rotation { 
        from { transform: rotateZ(144deg); }
        to { transform: rotateZ(504deg); } 
    }
    @keyframes b-left-arrow-rotation { 
        from { transform: rotateZ(216deg); }
        to { transform: rotateZ(576deg); } 
    }
    @keyframes left-arrow-rotation { 
        from { transform: rotateZ(288deg); }
        to { transform: rotateZ(648deg); } 
    }
}
